<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<h2>Welcome to Play Chess Game</h2>
<body>

    <form th:action="@{/register?type=0}" th:method="get">
        <input type="submit" value="register as a regular player"></input></br>
    </form>

    <form th:action="@{/register?type=1}" th:method="get">
        <input type="submit" value="register as a master player"></input></br>
    </form>

    <form th:action="@{/login?type=0}" th:method="get">
        <input type="submit" value="login as a regular player"></input></br>
    </form>

    <form th:action="@{/login?type=1}" th:method="get">
        <input type="submit" value="login as a master player"></input></br>
    </form>

</body>
</html>