<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<h2>Welcome to Play Chess Game</h2>
<body>

    <form th:action="@{/register}" th:method="get">
        <input type="submit" value="register"></input></br>
    </form>

    <form th:action="@{/login?type='player'}" th:method="get">
        <input type="submit" value="login as a player"></input></br>
    </form>

    <form th:action="@{/login?type='master'}" th:method="get">
        <input type="submit" value="login as a master user"></input></br>
    </form>

</body>
</html>