<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginPlayer</title>
</head>
<body>
<div>
    <form th:action="@{/login1}" th:object="${user}" th:method="post">
        username: <input type="text" th:field="${user.name}" required><br/>
        password: <input type="text" th:field="${user.password}" required><br/>
        <input type="submit" value="login">
    </form>
</div>
</hr>
<div>
    <span th:text="${message}"></span>
</div>
<div>
    <form th:action="@{/resetpassword}" th:object="${user}" th:method="get">
        <input type="submit" value="reset password">
    </form>
</div>

</body>
</html>