<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resetpassword</title>
</head>
<body>
<div>
    <form th:action="@{/resetpassword}" th:object="${user}" th:method="post">
        username: <input type="text" th:field="${user.name}" required><br/>
        password: <input type="text" th:field="${user.password}" required><br/>
        email: <input type="text" th:field="${email}" required><br/>
        <input type="submit" value="reset password">
    </form>
</div>
<div>
    <span th:text="${message}"></span>
</div>

</body>
</html>