<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resetpasswordmaster</title>
</head>
<body>
<h3 th:align="center">Please reset passwords for below users</h3></br>
<div th:align="center">
    <table style="text-align: center; vertical-align: middle" border="1px">
        <tr>
            <td th:text="username"></td>
            <td th:text="password"></td>
            <td th:text="email"></td>
        </tr>
        <tr th:each="user: ${usersToResetPW}">
            <td th:text="${user[0]}"></td>
            <td th:text="${user[1]}"></td>
            <td th:text="${user[2]}"></td>
        </tr>
    </table>
</div>
</br>
<hr>
</br>
<h3 th:align="center">Please enter information for the user to reset password</h3></br>
<div th:align="center">
  <form th:action="@{/resetpasswordmaster}" th:object= "${user}" th:method="post">
    username: <input type="text" style="width: 300px;" th:field="${user.name}" required placeholder="  please enter username"><br/>
    new password: <input type="text" style="width: 300px;" th:field="${user.password}" required placeholder="  please enter new password"><br/>
    <input type="submit" value="reset password">
  </form>
  </br>
  <span th:align="center" th:text="${message}"></span>
</div>
</br>
<hr>
</br>
<a th:href="@{/showMasterUserPage}">Return to Console</a>

</body>
</html>