<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resetpassword</title>
</head>
<h3 th:align="center">Please reset your password</h3>
<body>
<div th:align="center">
    <form th:action="@{/resetpassword}" th:object="${user}" th:method="post">
        username: <input type="text" style="width: 300px;" th:field="${user.name}" required placeholder = "  please enter your username"><br/>
        new password: <input type="text" style="width: 300px;" th:field="${user.password}" required placeholder = "  please enter your NEW passsword"><br/>
        email: <input type="text" style="width: 300px;" th:value="${email}" name="email" required placeholder = "  please enter your email"><br/>
        <input type="submit" value="reset password">
    </form>
</div>
</br>
<div th:align="center">
    <span th:text="${message}"></span>
</div>
</br>
</br>
<div th:align="center">
    <form th:action="@{/login1}" th:method="get">
        <input type="submit" value="login again"></input></br>
    </form>
</div>

</body>
</html>