<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserInfo</title>
</head>
<body>
<h2 th:text="${message}"></h2>
<table>
    <tr>
        <td>username</td>
        <td>elo</td>
    </tr>
    <tr>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getElo()}"></td>
    </tr>
</table>

<form th:action="@{/play}" th:method="post">
    <input type="submit" value="hit me to play">
</form>

<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="logout">
</form>

</body>
</html>