<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserInfo</title>
</head>
<h2 th:align="center">Welcome to board</h2>
<body>
<div th:align="center">
    <table>
        <tr>
            <td>username</td>
            <td>elo</td>
        </tr>
        <tr>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getElo()}"></td>
        </tr>
    </table>
</div>

<div th:align="center">
    <form th:action="@{/play}" th:method="get">
        <input type="submit" value="hit me to play">
</form>
</div>

<div th:align="center">
    <form th:action="@{/logout}" th:method="post">
        <input type="submit" value="logout">
</form>
</div>

</br>

<div>
    <span th:text="${errorMsg}"></span>
</div>

</body>
</html>